.question{
  .container{
    padding:4rem 6rem   ;
  }
  &__head{
    display: flex;
    flex-direction: column;
    gap:1.6rem;
    align-items: center;
    margin-bottom: 4.8rem;
    position: relative;
    &:after{
      content:'';
      position: absolute;
      bottom: -2.4rem;
      width: 100%;
      height: 0.1rem;
      background: #E8E8E8;
    }
  }
  &__icon{
    width: 3.6rem;
    height: 3.6rem;
  }
  &__title{
    font: 400 2.8rem / 4rem var(--RozhaOne);
  }
  &__form{
    flex-direction: unset;
    display: flex;
    flex-wrap: wrap;
    gap:2.4rem;
  }

  &__item{
    display: flex;
    flex-wrap: wrap;
    gap:1.2rem;
    width: 100%;
    &.half{
      width: calc(50% - 1.2rem);
    }
  }
  &__btn{
    position: relative;
   display: flex;
    width: 100%;
    gap:2.4rem;
    align-items: center;
    justify-content: center;
    & >*{
      width: 100%;
    }
  }
  .form__input{
    gap:0.8rem;
    position:relative;
  }
  .question__item-radio{
    gap:1.2rem;
    width: 100%;
  }
  &__site{
    display: flex;
    align-items: flex-end;
    gap:1.6rem;
    span{
      padding-bottom: 2rem;
      font: 400 1.4rem / 1.6rem var(--Arimo);

    }
    label{
      //font: 400 1.4rem / 1.6rem var(--Arimo);
      font: 400 1.6rem / normal var(--RozhaOne);

    }
    //.question__input{
    //  max-width: 16rem;
    //}
  }
  &__hide{
    display: none;
    flex-wrap: wrap;
    gap:2.4rem;
    &-gap{
      gap:2.4rem;
    }
    & > *{
      width: 100%;
    }
    &.active{
      //flex-direction: column;
      display: flex;
    }
    .half{
      label{
        //font: 400 1.4rem / 1.6rem var(--Arimo);
        font: 400 1.6rem / normal var(--RozhaOne);
        font: 400 1.6rem / normal var(--RozhaOne);
      }
    }
  }
  &__block{
    max-width:76.1rem ;
    margin: 0 auto;
  }
  &__item{
    &-radio{
      & > label{
        font: 700 1.6rem / 1.8rem var(--Arimo);
      }
    }
  }
  &__radio{

   display: flex;
    gap: 1.2rem 3.2rem;
    &.checkbox{
      display: grid;
      grid-template-columns: 0fr 1fr;
      padding-left: 4rem;
    }
    &-item{
      display: flex;
      label{
        font: 400 1.6rem / 2.2rem var(--Arimo);
      }
      input{
        display: none;
      }
    }
  }
  &__input{
    &.half{
      width: 50%;
    }
  }
  &__item{
    position: relative;
    & > input{
      border-radius: 0;
      border: none;
      padding: 0.4rem 0;
      border-bottom: 0.1rem solid #E8E8E8;
      font: 400 1.6rem / 2.2rem var(--Arimo);
      &::placeholder{
        color:#BFBBBB;
      }
    }

  }
  p.error{
    position: absolute;
    bottom: -2rem;
    color:red;
    font:700 1.6rem / 1.8rem var(--Arimo);
  }
  div.error label{
    color:red;
  }

  .label__small{
    font:700 1.6rem / 1.8rem var(--Arimo);
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 3.2rem;
    cursor: pointer;
    font: 400 1.6rem / 2.24rem var(--Arimo);
    display: inline-block;
    color: #000;
  }

  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: 0.1rem solid #E8E8E8;
    background: #fff;
  }
  [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    border: 0.1rem solid #B3A384;
    background: #B3A384;
  }

  [type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.2rem;
    transform: scale(1) translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    background: url("../img/check-icon.svg") center/1.2rem 1.2rem no-repeat;
    opacity: 1;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0) translateY(-50%);
  }

  [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1) translateY(-50%);
  }





  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:checked + label,
  [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 3.2rem;
    cursor: pointer;
    font: 400 1.6rem / 2.24rem var(--Arimo);
    display: inline-block;
    color: #111;
  }

  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.2rem;
    border: 0.1rem solid #E8E8E8;
    background: #fff;
  }

  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    background: url("../img/check-icon.svg") center/1.6rem 1.6rem no-repeat;
    transition: all 0.2s ease;
  }

  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.2rem;
    border: 0.1rem solid #B3A384;
    background: #B3A384;
  }

  [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.2rem;
    transform: scale(1) translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    background: url("../img/check-icon.svg") center/1.2rem 1.2rem no-repeat;
    opacity: 1;
    transition: all 0.2s ease;
  }

  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0) translateY(-50%);
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1) translateY(-50%);
  }
  .select2-container .select2-selection--single{
    border: none;
    border-radius: 0;
    height: auto;
    padding: 0.9rem 0;
    border-bottom: 0.1rem solid #E8E8E8 ;
  }
  .select2-container .select2-selection--single .select2-selection__rendered{
    padding: 0;
    height: auto;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow:after{
    right: 0;
  }
  .select2-container--default .select2-selection--single .select2-selection__placeholder{
    color:#BFBBBB;
  }
  .select2-results__option{
    padding: 1.4rem 2.4rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.2s ease-in-out;
    &:hover{
      background-color: var(--color-beige);
    }
  }
  .select2-container--default .select2-results__option[aria-selected=true]{
    background-color: transparent;
  }
  .select2-container--default .select2-results>.select2-results__options{
    background:linear-gradient(0deg, rgba(86, 64, 115, 0.05), rgba(86, 64, 115, 0.05));
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: transparent;
  }
  .select2-container--open .select2-dropdown--below{
    border: 0.05rem solid rgba(86, 64, 115, 1);
    border-bottom-right-radius:1.2rem ;
    border-bottom-left-radius:1.2rem ;
  }
  .form__file-item h3{
    max-width: 30rem;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 2.2rem;
  }
  .form__file{
    flex-direction: column;
    align-items: flex-start;
  }

}



.search__show .select2-search--dropdown{
  display: block;
}


.modal__photo-delete .modal__content-delete{
  display: flex;
}


.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
  background-color: transparent;
    width: 0.4rem;
  border-radius: 0.8rem;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {

  background-color: var(--color-violet);
  border-radius: 0.8rem;
}



.site{
  .project__clarify-text{
    text-align: center;
  }
  &__link{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 5.6rem;
  }
  .project__progress{
    margin: 2rem auto;
  }
  .project__task-step{
    font:700 2rem / 2.8rem var(--Arimo) ;
  }
  .project__clarify-text{
    padding: 2.1rem;
    font-size: 1.6rem;
    &.violet {
      color:var(--color-violet);
      text-align: left;
    }
  }
  .project__table-clarify th{
    text-align: center;
  }
  .tab{
    &__header{
      display: flex;
      & > *{

      }
    }
  }
}






.calendar__block{
  margin-top: 3.2rem;
}
.day__desc{
  display: flex;
  gap:4rem;
  align-items: center;
  margin: 4rem 0 2.4rem;
  overflow-x: auto;
  padding-bottom: 1rem;

}

.day__desc::-webkit-scrollbar {
  background-color: transparent;
  height: 0.2rem;
  border-radius: 0.8rem;
}

.day__desc::-webkit-scrollbar-thumb {
  background-color: var(--color-violet);
  border-radius: 0.8rem;
}

.day__desc-item{
  display: flex;
  gap:0.8rem;
  align-items: center;

  span{
    width: 4rem;
    height: 4rem;
    display: block;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    font: 600 1.4rem / 2rem var(--Inter) ;
    border-radius: 50%;
  }
  h3{
    font: 400 1.4rem / 1.6rem var(--Arimo) ;
    white-space: nowrap;
  }
  &.work{
    span{
      color:white;
      background-color:#564073 ;
    }
    //span:after{
    //
    //}
  }
  &.engineers{
    span{
      background: #56407326;
    }
    span:before{
      content: '';
      position: absolute;
      bottom: 0.4rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: #564073;
    }
  }
}


.year-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem 8rem ;
  padding: 2.4rem;
  border-radius: 0.8rem;
  border:0.1rem solid #F2F4F7;
  box-shadow: 0px 8px 8px -4px #10182808;
  box-shadow: 0px 20px 24px -4px #10182814;
}


.fc-theme-standard .fc-scrollgrid, .fc-theme-standard td, .fc-theme-standard th{
  border: none;
}
.month-calendar {
  border: none;
  border-radius: 5px;
  overflow: hidden;
}
.month-calendar h3 {
  text-align: center;
  margin: 0 0 1.2rem;
  font: 600 1.6rem / 2.4rem var(--Inter) ;
}
.fc .fc-col-header-cell-cushion{
  font: 400 1.4rem / 2rem var(--Inter) ;
  text-align: center;
  text-transform: capitalize;
}
.fc .fc-daygrid-day-number{
  font: 400 1.4rem / 2rem var(--Inter) ;
  text-align: center;
  padding: 1rem 0;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent;
}
.fc .fc-daygrid-day-top{
  justify-content: center;
}
.fc-daygrid-day-events{
  display: none;
}
.fc-day-other{
  opacity: 0;
}
.day__custom{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }
}
.day__work{
  color:white;
  &:after{
    background-color: #564073;
  }
}
.day__engineers:after{
  background: #56407326;
}
.day__engineers:before{
  content: '';
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #564073;
}


.month-calendar .fc {
  margin: 0;
}
.change__data{
  cursor: pointer;
}

.modal__change-btn{
  display: flex;
  gap:1.6rem;
  align-items: center;
  & > *{
    width: calc(50% - 0.8rem);
  }
}
.photo__list{
  display: flex;
  gap:1.6rem;
  width: 100%;
  overflow-x:auto;
  padding-bottom: 1rem;

}
.project__top-link{
  white-space: nowrap;

}

.modal__change .form__file{
  flex-direction: column;
  align-items: center;
  gap:2.4rem;
  & > *{
    width: 100%;
  }
  .form__file-item h3{
    width: 100%;
    max-width: 100%;
  }
  .form__file-item {
    padding: 1.2rem 1.2rem 1.2rem 2.4rem;
   background-color: #F7F5F5;
    border-radius: 0.8rem;
  }
}
.photo__table{
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #D9D1C1;
  margin-top: 5.6rem;
}
.photo__table-item{
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  &:not(:last-child){
    border-bottom: 0.1rem solid #D9D1C1;
  }
}
.photo__list-wrap{
  border-left: 0.1rem solid #D9D1C1;
  gap:7rem;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;
  width: 85%;
}



.photo__list::-webkit-scrollbar {
  background-color: transparent;
  height: 0.5rem;
  border-radius: 0.8rem;
}

.photo__list::-webkit-scrollbar-thumb {
  background-color: #EDE8E0;
  border-radius: 0.8rem;
}
.photo__title{
  padding: 2.4rem;
  width: 15%;
  max-width: 100%;
}


.photo__item{
  display: flex;
  flex-direction: column;
  gap:0.8rem;
  p{
    font: 400 1.2rem / 1.3rem var(--Arimo);
  }
}
.photo__item-img{
  width: 15rem;
  height: 7.8rem;
  position: relative;
}
.photo__resize{
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: 0.4rem;
  right: 0.4rem;

}
.modal__photo .modal__overflow{
  padding: 0;
}
.modal__photo .modal__content{
  max-width: 104.9rem;
  border-radius: 0;
}
.modal__photo .modal__close{
  width: 4.8rem;
  height: 4.8rem;
  top:1.6rem;
  right: 1.6rem;
}

.modal__change .form__file-upload label{
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #F7F5F5;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: none;
}
textarea{
  resize: none;
}
.site__wrap{
  display: flex;
  flex-direction: column;
  gap:1.2rem;
  padding: 1.6rem 2.4rem ;
}
.site__wrap .project__task-step{
  max-width: 100%;
}
.site .site__wrap .project__clarify-text{
  padding: 0;
  font: 400 1.4rem / 1.6rem var(--Arimo);
}


.site__wrap .photo__item p{
  font: 400 1.4rem / 1.6rem var(--Arimo);
}
.site__room{
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  width: max-content;
  background-color: #E8E8E8;
  font: 400 1.2rem / 1.4rem var(--Arimo);
}
.site th,.site .project__task-step{
font-size: 2rem;
}
.photo__wrap .photo__item-img{
  width: 22.6rem;
  height: 14rem;
}

.site .tab__header-item{
  width: 25%;
 background: #D9D1C180;
  color:#4B4B4B;
  &:not(:last-child){
    border-right: 0.1rem solid #D9D1C1;
  }
}
.site .tab__header-items{
  display: flex;
  width: 100%;
}

.site .tab__header-item {
  border: 0.1rem solid #D9D1C1;
  font: 400 2rem / 2.8rem 'RozhaOne';
}

.site .project__top-title{
  color :#564073;
}
.site .project__top-title p{
 font-size: 2.8rem;
  line-height: 4rem;
}

.modal__change .modal__overflow{
  padding: 4rem;
}

.modal__change .form{
  margin: 0;
}
.tr__empty{
  background: #56407326;

}

.nav-button{
  display: none;
}

.canvas__wrap{
  display:flex;
  width:100%;
  border:0.1rem solid #D9D1C1;
  border-top:none;
}
.canvas__item{
  //width:46.2rem;
  height:25.4rem;
  margin: 0 auto;
  //width:100%;
  //  height:100%;
}
.canvas__table{
  margin: 3.2rem 0;
}
.canvas__wrap-top{
  border:0.1rem solid #D9D1C1;
}
.canvas__wrap-top p{
  font: 400 1.6rem / 2.2rem var(--Arimo);
  text-align: center;
  padding: 1.05rem;
}
.canvas__item{
  padding: 2rem ;
}
.canvas__item-wrap{
  width: 43%;

  border-left: 0.1rem solid #D9D1C1;

}

.canvas__info{
  display:flex;
  flex-direction:column;
  gap:0.8rem;
  padding: 2rem 6rem 2rem 3.4rem;
  width: 14%;
}
.canvas__info-title{
  font: 700 2rem / 2.8rem var(--Arimo);
  margin-bottom: 1.6rem;
  color:#B3A384;
  text-transform: uppercase;
}
.canvas__info-item{
  display:flex;
  gap:0.8rem;
  color:#B3A384;
  align-items: center;
  font: 400 1.4rem / 1.6rem var(--Arimo);
}
.canvas__info-item h3{
  border-radius: 0.4rem;
  padding: 0.4rem 1.2rem;
  font: 400 1.4rem / 1.6rem var(--Arimo);
  border:0.1rem solid #EDE8E0;
}
.canvas__item-title{
  display: none;
}

.chart__item-wrap{
  width: 18rem;
  height: 18rem;
}

.analysis__desc{
  padding: 2rem 2.4rem;
}
.analysis__desc-title{
 margin-bottom: 1rem;
  font: 700 1.6rem / 2.2rem var(--Arimo);
  color:#564073;
}


.analysis__desc-list{
  display: flex;
  flex-direction: column;
  gap:1rem;

}

.analysis__desc-item{
  display: flex;
  gap:0.8rem;
  align-items: center;
  span{
    display: flex;
    width: 1.6rem;
    height: 1.6rem;
  }
  h3{
    color:#4B4B4B;
    font: 400 1.2rem / 1.4rem var(--Arimo);
  }
}
.chart__item{
  width: 100%;
}
.chart__item-wrap{
  margin: 4rem auto;
}

.analysis .project__clarify-mob.background .tr__empty{
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.analysis__line-title{
  margin-bottom: 1.6rem;
  color:#000;
  font: 400 1.2rem / 1.4rem var(--Arimo);
  text-align: center;
}
.analysis__line{
  margin:  0 auto;
  padding: 2.8rem 1rem 2rem;
}
.analysis__line-list{
  max-width: 21.6rem;
  margin: 0 auto;
  display: flex;
  gap:1.2rem;
  flex-direction: column;
}
.analysis__line-item{
  gap:0.2rem;
  display: flex;

  span{
    display: block;
    height: 1.6rem;
  }
}
@media only screen and (max-width: 666px) {

  .question .container{
    padding: 3.2rem 1.6rem;
  }
  .question__form,.question__hide{
    gap:2rem;
  }
  .question__item.half{
    width: 100%;
  }
  .question__item > input{
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .question .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  .question .select2-container .select2-selection--single{
    padding: 0.5rem 0;
  }
  .question__item > input{
    padding: 0.5rem 0;
  }
  .question .select2-results__option{
    padding: 1rem 1.4rem;
  }
  .question__input.half{
    width: 100%;
  }
  .question .form__input label{
    font-size: 1.6rem;
  }
  .question__btn .section__button{
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .question__btn{
    gap:1.2rem;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .question__site{
    flex-direction: column;
    align-items: flex-start;
  }
  //.question__site span{
  //  text-align: center;
  //  padding: 0;
  //  width: 100%;
  //}
  .question__site .question__input{
    max-width: 100%;
  }
  .question__hide .half label, .question__site .form__input label {
    font-size: 1.6rem;
  }
  .site .project__top-block:last-of-type{
    flex-direction: row-reverse;
    justify-content: space-between;
    & > *{
      margin: 0;
    }
  }
  .site__link{
    justify-content: flex-start;
  }
  .photo__table-item{
    flex-direction: column;
    align-items: flex-start;
  }
  .photo__title{
    background-color: transparent;
    width: 100%;
    border-bottom:0.1rem solid #D9D1C1 ;
    color:#B3A384;
    padding: 1.6rem;
  }
  .photo__list-wrap{
    flex-direction: column;
    align-items: flex-start;
    gap:2.4rem;
    border: none;
    width: 100%;
    padding: 1.6rem 0;
  }
  .photo__item:first-child, .photo__add{
    margin-left: 1.6rem;
  }
  .photo__table{
    margin: 0 -1.6rem;
    border-left:none ;
    border-right:none ;
  }
  .photo__wrap .photo__item:first-child,  .photo__wrap .photo__add {
    margin-left: 0;
  }
  .site__wrap{
    padding: 1rem 1.6rem;
  }
  .site .clarify__mob-text {
    padding: 2rem 1.6rem ;
  }
  .photo__wrap .photo__item-img{
    width: 15rem;
    height: 7.8rem;
  }
  .photo__wrap .photo__list{
    max-width: 15rem;
  }
  .site .project__clarify-text{
    font: 400 1.4rem / normal var(--Arimo);
  }
  .site .project__top-title, .site .project__top-title p{
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  .site .clarify__mob-text{
    font-size: 1.4rem;
  }
  .site .clarify__mob-nav > *{
    font-size: 1.4rem;
  }
  .modal__change .modal__overflow{
    padding: 2.4rem 1.6rem;
  }
  .modal__change .form{
    margin: 0;
  }
  //.site__wrap{
  //  align-items: center;
  //  flex-direction: row;
  //  justify-content: space-between;
  //}
  .site .project__task-step{
    //padding: 0;
    //justify-content: flex-start;
    background-color: transparent;
    color:#B3A384;
  }
  .photo__wrap tr:first-child td{
    background-color: transparent;
    .site__wrap{
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .site__wrap .photo__item p, .photo__wrap .clarify__mob-wrap .project__clarify-file{
    font-size: 1.4rem;
    line-height:normal;
  }
  .site .site__wrap .project__clarify-text{
    font-size: 1.4rem;
    line-height:normal;
  }

  .year-view {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  .month-calendar {
    margin-bottom: 2.4rem;
  }
  .button__wrap{
    display: flex;
    justify-content: space-between;
  }
  .nav-button{
    font: 700 1.2rem / 1.6rem var(--Arimo);

    text-decoration: underline;
    color:#B3A384;
  }
  .nav-button.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  .year-view{
    box-shadow: unset;
    padding: 0;
    border: none;
  }
  .nav-button{
    display: block;
  }
  .site .tab__header-item{
    display: none;
    width: 100%;
    border: none;
    padding: 0 1.6rem;
    background-color: transparent;
    &:after{
      display: none;
    }
    &.active{
      display: block;
    }
  }
  .site .tab__header{
    background: #ECE8E0;
    padding: 1.6rem;

  }
  .site .tab__header-item:not(:last-child){
    border: none;
  }
  .nav-button-tab{
    width: 3.2rem;
    min-width: 3.2rem;
    height: 3.2rem;
    background-color: #B3A384;
    border-radius: 50%;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      width: 1.6rem;
      height: 1.6rem;
      background: url("../img/arr-next.svg") center/1.6rem 1.6rem no-repeat;
    }
    &.prev-tab:after{
      transform:translate(-50%,-50%) rotate(-180deg);
    }
  }
  .day__desc-item span{
    min-width: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.6rem 0;
    font-size: 1.2rem;
  }
  .day__desc-item.engineers span:before{
    width: 0.3rem;
    height: 0.3rem;
  }
  .day__desc{
    margin: 0 -1.6rem 1rem;
  }
  .site .tab__header{
    margin-bottom: 1.2rem;
  }
  .day__desc-item:first-of-type{
    padding-left: 1.6rem;
  }
  .calendar__block{
    margin-top: 0;
  }
  .month-calendar{
   margin: 0;
  }
  .photo__wrap tr:first-child td .site__wrap{
    align-items: center;
  }
  .site .project__task-step{
    padding: 1.7rem 0 ;
  }
  .clarify__mob-top{
    width: 3.2rem;
    min-width: 3.2rem;
    height: 3.2rem;
    background-color: #B3A384;
    border-radius: 50%;
    position: relative;
  }
  .clarify__mob-top:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.6rem;
    height: 1.6rem;
    background: url(../img/arr-next.svg) center / 1.6rem 1.6rem no-repeat;
  }
  .clarify__mob-top.prev:after {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  .clarify__mob-nav-top{
    position:absolute;
    top: 3.8rem;
    margin:0;
    .prev{
      margin-left:1.6rem;
    }
    .next{
      margin-right:1.6rem;
    }
  }

  .project__clarify-mob.background{
    margin:0 -1.6rem;
    .clarify__mob-wrap table{
      border:none;
    }
    .clarify__mob-text{
      color:#564073;
      font: 400 1.4rem / 1.9rem var(--Arimo)
    }
    td:last-child{
      width:50%;
    }
    td:first-child {
      background-color: transparent;
      width:50%;
    }
    tr:first-child {
      background-color: #EDE8E0;
      width:50%;
      .clarify__mob-text{
        color:#4B4B4B;
        font: 400 2rem / 2.8rem var(--RozhaOne)
      }
    }
  }
  .canvas__wrap{
    flex-direction: column;
    & > *{
      width: 100%;
    }
  }
  .canvas__info-title{
    width: 100%;
  }
  .canvas__info{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .canvas__wrap-top{
    display: none;
  }
  .canvas__wrap,.canvas__item-wrap{
    border: none;
  }
  .canvas__table{
    width: 100vw;
    margin: 0 -1.6rem;
  }
  .canvas__info, .canvas__item{
    padding: 1.6rem;
  }

  .canvas__item {
    height: 16.4rem;
    margin: 0 auto;
  }
  .canvas__table .button__wrap{
    margin: 0 1.6rem;
  }
  .canvas__item-title{
    display: block;
    font: 400 16px / 22px var(--Arimo);
    padding: 1.05rem ;
    text-align: center;
    border-top:0.1rem solid #D9D1C1;
    border-bottom:0.1rem solid #D9D1C1;
  }
  .analysis__desc-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap:1.4rem;
    align-items: center;
  }
  .analysis__wrap .analysis__desc-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}