.manager{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: calc(100% + 0.2rem);
    bottom: -0.2rem;
    left: -0.1rem;
    height: 0.2rem;
    z-index: 1;
    background-color: #4B4B4B;
  }
}
.modal__managers-save{
  display: none;

}

.modal__managers .project__top-icon{
  background-color: rgba(86, 64, 115, 0.35);
  border-radius: 0.8rem;
  position: relative;
}
.modal__managers .project__top-icon img{
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: invert(24%) sepia(48%) saturate(626%) hue-rotate(224deg) brightness(92%) contrast(85%);
}
.modal__managers td > *{
  padding: 1.6rem 2.4rem;
}
.modal__managers-btn{
  display: flex;
  gap:2.4rem;
  justify-content: center;
}
.modal__managers-btn > *{
  max-width: 20.8rem;
}
.modal__managers-btn.big > *{
  max-width: 28.8rem;
}


.location__more-block{
  display: none;
}

.modal__managers div.form{
  gap:1.2rem
}

.modal__managers .contact__form{
  gap:2rem 1.6rem;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
.contact__form .form__input:nth-of-type(1), .contact__form .form__input:nth-of-type(2){
  width: calc(50% - 0.8rem);
}
.contact__form .form__input:nth-of-type(3), .contact__form .form__input:nth-of-type(4),.contact__form .form__input:nth-of-type(5){
  width: calc((100% - 3.2rem)/3);
}

.contact__form  .modal__managers-btn{
  width: 100%;
}

.modal__managers .form__input input, .modal__managers  .form__input textarea{
  font: 400 1.6rem / 2.6rem var(--Arimo);
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  height: 5.6rem;
  border-radius: 1.2rem;
  font: 400 1.6rem / 2.6rem var(--Arimo);
}
.select2-container .select2-selection--single{
  border: 0.1rem solid rgba(179, 163, 132, 0.5);
  height: 5.6rem;
  border-radius: 1.2rem;
  padding: 1.4rem 2.4rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top:50%;
  transform: translateY(-50%);
}
.select2-container--default .select2-selection--single .select2-selection__arrow:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2.2rem;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 1.2rem;
  background: url("../img/arr.svg") center / 2.4rem 1.2rem no-repeat;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: var(--color-beige);
  color:var(--color-text)
}
.select2-search--dropdown{
  display: none;
}
.select2-results__option{
  padding: 1.2rem 2.4rem ;
  font: 400 1.6rem / 2.6rem var(--Arimo);
}

label.error{
  font: 400 1.6rem / 2.6rem var(--Arimo);
  position: absolute;
  bottom: -2.6rem;
  left: 0;
  color:red;
}

.delete__item{
  position: absolute;
  top: 50%;
  right: -3rem;
  padding: 0!important;
  transform:translateY(-50%) ;
  width: 3rem;
}
tr{
  position: relative;
}
table{
  position: relative;
}

.project__table-manager{
  margin: 4rem 0;
}
.project__link-wrap{
  margin-top: 1.2rem;
  display: flex;
  gap:2.4rem;
  & > *{
    font: 700 1.2rem / normal var(--Arimo);
    color:#4B4B4B;
    position: relative;
    &:first-child:after{
      content:'' ;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      width: 0.15rem;
      height: 1.2rem;
      right: -1.2rem;
      background-color: #4B4B4B;
    }
  }
}
.calendar__wrap{
  display: flex;
  gap:1.6rem;
  flex-wrap: wrap;
  margin: 2.4rem 0;
}
.calendar__wrap > *{
  width: calc(50% - 0.8rem);
}
.calendar__wrap-duration{
  display: none;
  color: #564073;
  font: 700 1.6rem / normal var(--Arimo);

}
.calendar__wrap{
  position: relative;

}
.calendar__wrap .error{
  width: 100%;
}
.calendar__wrap-duration.active{
  display: block;
}

.calendar__line {
  &-wrap{
    position: relative;
    height: 0.2rem;
    margin: 17.3rem 0;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, transparent 50%, #564073 50%);
  background-size: 0.6rem 100%;
}

.date{
  position: absolute;
  font: 400 1.6rem / normal var(--RozhaOne);
  text-transform: capitalize;
  top: 3rem;

}

.modal__calendar.active{
  .calendar__illustrate{
    display: block;
  }
  .calendar__point{
    display: block;
  }
  .calendar__wrap-duration{
    display: block;
  }
  .modal__managers-btn{
    display: flex;
  }
}
.inspections__form{
  flex-wrap: wrap;
  flex-direction: row;
  .modal__managers-btn{
    width: 100%;
  }
}
.form__input{
  width: 100%;
}
.form__input.half{
  width: calc(50% - 1.2rem);
}
.modal__calendar{
  .modal__managers-btn{
   display: none;
  }
}
.calendar__wrap{
 flex-direction: row;
}
.calendar__wrap > *{
  width: calc(50% - 0.8rem);
}
.calendar__point-desc{
  max-width: 14rem;
  text-align: center;
  white-space: normal;
  display: block;
  -webkit-line-clamp: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.calendar__date{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.calendar__point-content{
  position: relative;
  display: flex;
  flex-direction: column;
  gap:0.4rem;
  align-items: center;
  max-height: 17.3rem;
  //overflow: hidden;
  //transform: translateX(-50%);
}
.calendar__date .calendar__point:before{
  content: '';
  position: absolute;
  height: 6rem;
  width: 0.1rem;
  left: 0.8rem;
  background-color: #574275;
}

.calendar__date  .calendar__point:nth-child(even):before{
  top: 0;
}
.calendar__date  .calendar__point:nth-child(odd):before{
  bottom: 0;
}
.calendar__point-date{
  font: 400 1.6rem / normal var(--RozhaOne);
  color: #564073;
  text-align: center;
}
.calendar__point-desc{
  font: 400 1.2rem / 140% var(--Arimo);
  text-align: center;
  color:#4B4B4B;
}

.calendar__point:nth-child(even) .calendar__point-content{
  margin-top: 7.1rem;
}

.calendar{
  &__illustrate{
    position: relative;
    display: none;
  }
  &__point{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0 ;
    left: 0;
    &:after{
      content: '';
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      top:50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: #574275;
      }
  }
  &__start{
    .date{
      left: -3.3rem;
    }
    &:after{
      left: 0;
    }

  }
  &__end{

    .date{
      right: -3.3rem;
    }
    &:after{
      right: 0;
    }

  }
  &__duration{
    &-wrap{
      display: none;
    }
  }
}


.calendar__point-delete{
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -0.5rem;
  right: 0;
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background: url("../img/close.svg") center / 1.5rem 1.5rem no-repeat;
  }
}
.modal__content-big .form__file-item h3{
  max-width: 100%;
}

.modal__content-biggest{
  max-width: 154rem;
  .modal__overflow{
    padding: 6rem;
  }
}
.chart__list{
  display: flex;
  gap:4rem;
}

.chart__item{
  width: calc((100% - 8rem)/3);
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.chart__flex{
  display: flex;
  gap:4rem;
  align-items: center;
}
.chart__info{
  display: flex;
  flex-direction: column;
  gap:0.8rem;
}
.chart__info-item{
  display: flex;
  gap:6rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.4rem;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
  }
  &:first-child:after{
    background-color: #564073;
  }
  &:nth-child(2):after{
    background-color: #C4BCCE;
  }
  &:nth-child(3):after{
    background-color: #EDE8E0;
  }
  &:nth-child(4):after{
    background-color: #B3A384;
  }
  &:last-child{
    padding-left: 0;
    margin-top: 0.4rem;
    padding-top: 1.2rem;
    border-top:0.1rem solid rgba(87, 66, 117, 0.50);
  }
}
.chart__info{
  max-width: 50%;
  width: 100%;
}
.chart__info-item span {

}

.chart__wrap table tbody tr:last-child{
  background: rgba(86, 64, 115, 0.10);
  .project__clarify-text{
    font-weight: 700;
  }
}

.chart__wrap{
  margin-bottom: 6.4rem;
}

.chart{
  width: 18rem!important;
  height:18rem!important;
}
.chart__info-item h3{
  font: 400 1.2rem / normal var(--Arimo);

}
.chart__info-item h4{
  color:#564073;
  font: 700 1.2rem / normal var(--Arimo);
  text-transform: uppercase;

}
.chart__item > h3{
  font: 400 1.6rem / normal var(--RozhaOne);
  text-transform: capitalize;
}

.modal__managers-tracker .project__table th {
  border:none;
}

.drop{
  position: relative;
  width: max-content;

  &__btn{
    padding:0.6rem 3.2rem 0.6rem 1.6rem;
    position: relative;
    cursor: pointer;
    font: 400 1.2rem / normal var(--Arimo);
    color:#4B4B4B;
    width: max-content;
    min-width: 12.7rem;
    border-radius: 0.8rem;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right:1.6rem;
      width: 1.4rem;
      height:0.7rem;
      background: url(../img/triangle.svg) center/1.4rem 0.7rem no-repeat;
    }
  }
  &__menu{
    z-index: 5;
    left: 50%;
    width: 100%;
    top: 2.8rem;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 0.8rem;
    box-shadow: 0 0.5rem 1.46rem 0 rgba(0, 0, 0, 0.25);
    background-color: var(--color-white);
    overflow: hidden;
    display: none;
    &-flex{
      display: flex;
      flex-direction: column;
      & > *{
        text-align: left;
        padding: 1rem 1.6rem;
        font: 400 1.2rem / normal var(--Arimo);
        transition: 0.2s ease;
        white-space: nowrap;
        cursor: pointer;
        &[data-status="1"]:hover {
          background-color: rgba(183, 226, 182, 0.50);
        }
        &[data-status="2"]:hover {
          background-color: #F0C5BF;
        }
        &[data-status="3"]:hover {
          background-color: #FFE8CC;
        }
        &[data-status="4"]:hover {
          background-color: #E8E8E8;
        }
      }
    }
  }
}
.project__input{
 //padding: 1.6rem 0.8rem!important;
}
.project__input input{
  width: -webkit-fill-available;
  font: 400 1.4rem / normal var(--Arimo);
  border: none;
  //text-align: center;
}


.total{
  background-color: rgba(86, 64, 115, 0.1);
  border: 0.1rem solid rgba(87, 66, 117, 0.50);
  td{
    //text-align: center;
    font-weight: 700;
    border: 0.1rem solid rgba(87, 66, 117, 0.50);
    &:first-child{
      & > *{
        text-align: left;
        font: 400 1.6rem / normal var(--RozhaOne);
      }
    }
  }
}
.location__more-block .drop__btn{
  padding: 1.5rem 3.2rem 1.5rem 1.6rem;
  font: 400 1.6rem / 2.6rem var(--Arimo);
  width: 100%;
}
.location__more-block .drop__menu{
  top:7rem;
}
.location__more-block  .drop__menu-flex > *{
  font: 400 1.6rem / 2.6rem var(--Arimo);
}
.location__more-block .drop{
  min-width: 19rem;
}
@media only screen and (max-width: 1440px) {
  .modal__content-biggest{
    max-width: 90%;
  }
  .chart__info-item{
   gap:1rem;
  }
}
.modal__content-invoices{
  max-width: 135.5rem;
}
.modal__content-guarantees{
  max-width: 145.5rem;
}
.modal__content-invoices .modal__overflow{
  padding: 6rem 4rem 4rem;

}
.modal__content-invoices .project__table th {
  font-size: 1.6rem;
}
.modal__content-invoices .project__table-clarify th{
  padding: 0.6rem 2rem;
}

.location__more.disabled{
  pointer-events: none;
  opacity: 0.5;

}


.supplier{
  display: flex;
  flex-wrap: wrap;
  gap:0.4rem;

  //&__wrap{
  //  gap:2rem;
  //  display: flex;
  //  flex-wrap: wrap;
  //  align-items: center;
  //  & > *{
  //    font: 400 1.4rem / normal var(--Arimo);
  //  }
  //}
  h3{
    margin-right: 1.6rem;
    font: 400 1.4rem / normal var(--Arimo);
  }
  & > span{
    padding: 0.6rem 1.6rem;
    border-radius: 0.8rem;
    background:  #E8E8E8;
    font: 400 1rem / normal var(--Arimo);
  }
}
@media only screen and (max-width: 666px) {
  .project__table-manager{
    margin: 1.6rem 0;
  }
  .delete__item {
    right: -1rem;
    width: 2rem;

  }
  .modal__managers .clarify__mob-wrap {
    margin-top: 3rem;
  }
  .clarify__mob-wrap .delete__item{
    transform: none;
    top:0.5rem;
  }
  .project__table-manager tr{
    position: relative;
  }
  .project__table-manager  .delete__item{
    right: 0;
  }
  .project__clarify-mob{
    position: relative;
  }
  .change__table .delete__item{
    transform: none;
    top:-3rem;
  }
  .clarify__mob-wrap table{
    position: unset;
  }
  .project__table-manager th{
    font-size: 1.2rem;
  }
  .modal__managers td > *{
    font-size: 1rem;
  }
  .project__clarify-file{
    font-size: 1rem;
  }
  .modal__managers .project__top-icon img{
    width: 2rem;
    height: 2rem;
  }


  .chart__wrap .clarify__mob-wrap tbody.active{
    display: contents;
  }

  .chart__wrap .clarify__mob-wrap td:first-child{
    background-color: transparent;
  }
  .chart__wrap  .clarify__mob-text{
    font: 400 1rem / normal var(--Arimo);
  }

  .chart__flex{
    flex-direction:column ;
    padding: 0 2.4rem;
  }

  .chart__list{
    flex-direction: column;
  }
  .chart__item{
    width: 100%;
  }

  .chart__info{
    max-width: 100%;

  }
  .chart__item > h3{
    display: none;
  }
  .modal__content-biggest .modal__overflow{
    padding: 4rem 1.6rem;
  }

  .modal__managers td > *{
    padding: 2rem 1rem;
  }

  .chart__wrap tbody tr:last-of-type .clarify__mob-text {
    font: 400 1.2rem / normal var(--RozhaOne);
  }
  .chart__wrap.project__table-clarify th{
    padding: 2rem 1rem;
    font-size: 1.2rem;
  }
  .clarify__mob-wrap .form__line{
    margin-bottom: 1.6rem;
  }
  .chart__wrap{
   margin: 0;
  }
  .form__input.half{
    width: 100%;
  }
  label.error{
    font-size: 1.2rem;
    bottom: -2.2rem;
  }
  .contact__form > *{
    width: 100%!important;
  }
  .select2-container .select2-selection--single{
    padding: 1.4rem 1.2rem;
    height: 4.4rem;
  }
  .modal__managers .form__input input, .modal__managers .form__input textarea{
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 1.4rem;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-left: 0;
    font-size: 1.2rem;
    border-radius: 0;
    height: 4.4rem;
    line-height: 1.4rem;
  }
  .select2-results__option{
    padding: 0.8rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .location__more-block .drop__btn{

    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .project__input input{
    font-size: 1rem;
  }
  .total__mob-wrap tbody{
    display: contents!important;
  }
  .total__title{
    margin: 3rem 0 0.8rem;
    font: 400 1.4rem / normal var(--RozhaOne);
  }
  .total td:first-child > *{

    background: rgba(87, 66, 117, 0.30);
    font-size: 1.2rem;
  }
  .total{
  background-color: var(--color-white);
  }
  .clarify__mob-wrap  .total td:first-child{
    border: 1px solid rgba(87, 66, 117, 0.50);
  }

  tr{
    position: unset;
  }
  .modal__content-invoices .modal__overflow{
    padding:4rem 1.6rem ;
  }
  .modal__managers .change__table  td > *{
    padding: 1rem;
  }
  .location__more-block .drop__menu {
    top: 5rem;
  }
  .location__more-block .drop__menu-flex > *{
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

}

