<header class="header">
    <div class="container">
        <div class="header__block">
            <a href="" class="header__link">All projects</a>
            <div class="header__mob">
                <a class="header__logo img" href="./../index.html">
                    <img src="../img/logo.svg" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header__menu">
                    <div class="header__menu-list">
                        <a href="">All projects</a>
                        <a href="">Awaiting approval</a>
                        <a href="">Notifications</a>
                        <a href="">Log out</a>
                    </div>
                    <div class="header__menu-logo img">
                        <img src="../img/logo-menu.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="header__button">
                <a href="" class="header__icon img">
                    <img src="../img/notification.svg" alt="">
                </a>
                <a class="header__logout section__button section__button-secondary">Log Out</a>
            </div>
        </div>
    </div>
</header>
<div class="modal modal__delete">
    <div class="modal__wrap">
        <div class="modal__content ">
            <div class="modal__close img">
                <img src="./img/close.svg" alt="">
            </div>
            <div class="modal__overflow">
                <div class="form">
                    <h3 class="modal__title">Are you sure you want to delete this item?</h3>
                    <div class="form__line"></div>
                    <div class="modal__btn">
                        <button class="section__button modal__btn-close">Close</button>
                        <button class="section__button modal__btn-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="preloader__wrap">
    <div class="preloader__back"> </div>
    <div class="preloader">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="#564073" stroke="#564073" stroke-width="15" r="15" cx="40" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></circle><circle fill="#564073" stroke="#564073" stroke-width="15" r="15" cx="100" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></circle><circle fill="#564073" stroke="#564073" stroke-width="15" r="15" cx="160" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></circle></svg>
    </div>
</div>
