<header class="header  ">
    <div class="container">
        <div class="header__block">
            <a href="" class="header__link">All projects</a>
            <a class="header__logo img" href="./../index.html">
                <img src="../img/logo.svg" alt="">
            </a>
            <div class="header__button">
                <a href="" class="header__icon img">
                    <img src="../img/notification.svg" alt="">
                </a>
                <a class="header__logout section__button section__button-secondary">Log Out</a>
            </div>
        </div>
    </div>
</header>
<div class="modal modal__delete">
    <div class="modal__wrap">
        <div class="modal__content ">
            <div class="modal__close img">
                <img src="./img/close.svg" alt="">
            </div>
            <div class="modal__overflow">
                <div class="form">
                    <h3 class="modal__title">Are you sure you want to delete this item?</h3>
                    <div class="form__line"></div>
                    <div class="modal__btn">
                        <button class="section__button modal__btn-close">Close</button>
                        <button class="section__button modal__btn-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

